@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@plugin "daisyui";

:root {
    --primary: #00C4B4;
    --secondary: #5EFADB;
    --primary-hover: #006D77;
    --black: #424242;
    --brokenWhite: #F8F9FA;
    --grey: #CBD5E1;
    --grey-hover: rgb(128, 135, 141);
    --entries: #007bff;
    --removals: #fd7e14;
}

@theme {
    --font-roboto: "Roboto", sans-serif;
}

h1 {
    color: var(--primary);
    padding: 0 0 1.3rem 0;
}

h2 {
    color: var(--primary);
    padding-bottom: 2rem;
}

h3 {
    color: var(--primary);
}

/* pour ne pas imprimer les bouton de la facture */
@media print {
  .no-print {
    display: none !important;
  }
}


/* imprimer le contenu */
@media print {
  body * {
    visibility: hidden !important;
  }
  #invoice-print-area,
  #invoice-print-area * {
    visibility: visible !important;
  }
  #invoice-print-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* format a5 paysage */
  @page {
    size: A5 landscape; 
    margin: 8mm;
  }
  #invoice-print-area {
    width: 190mm;    
    padding: 5mm;
    margin: 0 auto;
  }
}








